# OS
.DS_Store

# NPM
node_modules

# VIM
*.session


###################
# Project
includes/styles/_reveal.*
includes/styles/_pdf.*
includes/styles/default.*
includes/scripts/*
test/fixtures/build/full/input/build
